<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-harboursdk" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>HarbourSDK</name>
  <js-module name="HarbourSDK" src="www/harbour-cordova-sdk.js">
    <clobbers target="window.HarbourSDK" />
    <clobbers target="window.FBInstant" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="HarbourSDK">
        <param name="ios-package" value="HarbourSDK" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/ios/HarbourSDK.m" />
  </platform>
  <dependency id="heyzap-cordova" version="^1.5.1" />
</plugin>
